doctype html
html
    head
        title='Hello Google'
        style 
            include ../views/style.css

    body
        div.container
            h1.header Welcome !
            p#text please login to your google account
            form
            input(type="text" name="login" placeholder="login")
            input(type="password" name="password" placeholder="password")
            button
                a(href="/auth/google") submit