doctype html
html
    head
        title='Google Account'
        style 
            include ../views/styleAcc.css

    body
        div.container
            h1.header Welcome !
            p#text you have logged successfully !